<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55330685690-od4b13gl8t50h0ft7sp7ftj9ngn60aej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55330685690-od4b13gl8t50h0ft7sp7ftj9ngn60aej</string>
	<key>API_KEY</key>
	<string>AIzaSyDPFJcgFrI6GZ2YJECxfLuuKqa5OnU1tDM</string>
	<key>GCM_SENDER_ID</key>
	<string>55330685690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>info.My-Library</string>
	<key>PROJECT_ID</key>
	<string>library-5dc45</string>
	<key>STORAGE_BUCKET</key>
	<string>library-5dc45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55330685690:ios:7f2f45d4d949057fc07f43</string>
</dict>
</plist>